.title_box .congralation{
	padding: 52px 25px 0 25px;
}
.padding_box {
	.tiger{
		width: 100%;
		margin:0 auto;
		position: relative;
		margin-top: 8px;
		padding-top: 20%;
		.btn{
			position: absolute;
			right: -1%;
			top:10%;
			width: 8%;
			height:80%;
			overflow: hidden;
			z-index: 999999;	
		}
		.num_box{
			z-index: 1;
			width: 87%;
			height: 50%;
			position:absolute;
			top:40%;
			left: 6.5%;
			// background-color:#000;
			.num{
				float:left;
				width: 33.333333%;
				// margin-right: 1%;
				height: 100%;
				background: url("../img/binglang.png") center no-repeat;
				background-size:65%;
			}
			li{
				float:left;
				width: 33.333333%;
				height: 100%;
				position: relative;
				overflow: hidden;
				dl{
					position: absolute;  
		            top: 0;  
		            left:0;
					width: 100%;
					height: 100%;
					// overflow: hidden;
					dd{
						display: block;
						 width: 100%;
						height: 100%;  
					}
				}
			}
			.num-bing{
				background: url("../img/binglang.png") center no-repeat;
				background-size:65%;
			}
			.num-ciya{
				background: url("../img/lightTear.png") center no-repeat;
				background-size:65%;
			}
			.num-0{
				background: url("../img/0.png") center no-repeat;
				background-size:65%;
			}
			.num-1{
				background: url("../img/1.png") center no-repeat;
				background-size:65%;
			}
			.num-2{
				background: url("../img/2.png") center no-repeat;
				background-size:65%;
			}
			.num-3{
				background: url("../img/3.png") center no-repeat;
				background-size:65%;
			}
			.num-4{
				background: url("../img/4.png") center no-repeat;
				background-size:65%;
			}
			.num-5{
				background: url("../img/5.png") center no-repeat;
				background-size:65%;
			}
			.num-6{
				background: url("../img/6.png") center no-repeat;
				background-size:65%;
			}
			.num-7{
				background: url("../img/7.png") center no-repeat;
				background-size:65%;
			}
			.num-8{
				background: url("../img/8.png") center no-repeat;
				background-size:65%;
			}
			.num-9{
				background: url("../img/9.png") center no-repeat;
				background-size:65%;
			} 
		}
	}
	.msg_tip{
		position: relative;
		top:30px;
		margin:0 auto;
		width: 80%;
		text-align:center;
		font-size: 18px;
		color:#b9aaaa;
		font-weight:bold;
	}
	.light_tip{
	  color: #fff45c;
	}
	.tiger_rank{
		width: 50%;
		margin:0 auto;
		margin-top: 18%;
	}
}
@-webkit-keyframes wobble{  
    // 0%{-webkit-transform:  rotate3D(0,-1,0,0deg)}  
    // 50%{-webkit-transform:translate3d(-5%,5%,0) rotate3D(1,0,0.6,-90deg)}  
    // 30%{-webkit-transform: rotate3D(1,-1,1,45deg)}  
    // 45%{-webkit-transform: rotate3D(1,1,0,45deg)}  
    // 60%{-webkit-transform: rotate3D(1,-1,1,45deg)}  
    // 75%{-webkit-transform: rotate3D(1,-1,1,45deg)}  
    // 100%{-webkit-transform:rotate3D(0,-1,0,0deg)}  
    // 0%{-webkit-transform:translateX(0%)}  
            // 15%{-webkit-transform:translateX(-10%) rotate(-5deg)}  
            // 30%{-webkit-transform:translateX(-20%) rotate(3deg)}  
            50%{-webkit-transform:translateX(-60%) rotate(-60deg);top:45%;right:2%;
				height:45px;
            }  
            // 60%{-webkit-transform:translateX(10%) rotate(2deg)}  
            // 75%{-webkit-transform:translateX(-5%) rotate(-1deg)}  
            100%{-webkit-transform:translateX(0%)} 
  }
  .yaogan{  
	-webkit-animation:wobble 1.5s .3s ease  both;  
  }
  @media screen and (min-width: 290px) and (max-width: 350px){
  	.padding_box .msg_tip{font-size:15px;}
  }
  @media screen and (min-width: 370px) and (max-width: 410px){
  	.padding_box .msg_tip{font-size:16px;}
  }
  
