/* line 1, ../sass/fanzhuan.scss */
.title_box .congralation {
  padding: 52px 25px 0 25px;
}

/* line 5, ../sass/fanzhuan.scss */
.padding_box .tiger {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 15px;
  padding-top: 20%;
}
/* line 11, ../sass/fanzhuan.scss */
.padding_box .tiger .btn {
  position: absolute;
  right: -1%;
  top: 10%;
  width: 8%;
  height: 80%;
  overflow: hidden;
  z-index: 999999;
}
/* line 20, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box {
  z-index: 1;
  width: 87%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 6.5%;
}
/* line 28, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num {
  float: left;
  width: 33.333333%;
  height: 100%;
  background: url("../img/binglang.png") center no-repeat;
  background-size: 65%;
}
/* line 36, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box li {
  float: left;
  width: 33.333333%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 42, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box li dl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 49, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box li dl dd {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 56, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-bing {
  background: url("../img/binglang.png") center no-repeat;
  background-size: 65%;
}
/* line 60, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-ciya {
  background: url("../img/ciya.png") center no-repeat;
  background-size: 65%;
}
/* line 64, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-0 {
  background: url("../img/0.png") center no-repeat;
  background-size: 65%;
}
/* line 68, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-1 {
  background: url("../img/1.png") center no-repeat;
  background-size: 65%;
}
/* line 72, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-2 {
  background: url("../img/2.png") center no-repeat;
  background-size: 65%;
}
/* line 76, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-3 {
  background: url("../img/3.png") center no-repeat;
  background-size: 65%;
}
/* line 80, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-4 {
  background: url("../img/4.png") center no-repeat;
  background-size: 65%;
}
/* line 84, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-5 {
  background: url("../img/5.png") center no-repeat;
  background-size: 65%;
}
/* line 88, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-6 {
  background: url("../img/6.png") center no-repeat;
  background-size: 65%;
}
/* line 92, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-7 {
  background: url("../img/7.png") center no-repeat;
  background-size: 65%;
}
/* line 96, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-8 {
  background: url("../img/8.png") center no-repeat;
  background-size: 65%;
}
/* line 100, ../sass/fanzhuan.scss */
.padding_box .tiger .num_box .num-9 {
  background: url("../img/9.png") center no-repeat;
  background-size: 65%;
}
/* line 106, ../sass/fanzhuan.scss */
.padding_box .msg_tip {
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 18px;
  color: #b9aaaa;
  font-weight: bold;
}
/* line 116, ../sass/fanzhuan.scss */
.padding_box .light_tip {
  color: #fff45c;
}
/* line 119, ../sass/fanzhuan.scss */
.padding_box .tiger_rank {
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
}

@-webkit-keyframes wobble {
  50% {
    -webkit-transform: translateX(-50%) rotate(-90deg);
    top: 45%;
    right: 8%;
    height: 50px;
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
/* line 143, ../sass/fanzhuan.scss */
.yaogan {
  -webkit-animation: wobble 1.5s .3s ease  both;
}

@media screen and (min-width: 290px) and (max-width: 350px) {
  /* line 147, ../sass/fanzhuan.scss */
  .padding_box .msg_tip {
    font-size: 15px;
  }
}
@media screen and (min-width: 370px) and (max-width: 410px) {
  /* line 150, ../sass/fanzhuan.scss */
  .padding_box .msg_tip {
    font-size: 16px;
  }
}
